
/*
 * Colors
 */
@white: #fff;
@dkgray: #333;
@mgray: #555;
@black: #000;
@lgray: #eee;
@orange: #f3ac59;
@bright: #fc4913;

/*
 * Color usage
 */
@text: @black;
@background: @white;

/*
 * Type
 */
@baseFontSize: 16px;
@baseLineHeight: 1.7;

@sans: Tahoma, "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
@headline: "Arial Narrow", "Helvetica Neue Condensed", "Helvetica Condensed", Arial, sans-serif ;
@mono: "Ubuntu Mono", Courier, monospace;

/*
 * Dimensions
 */
@article_vpadding: 40px;

@break_xxl: 1160px;
@break_xl: 980px;
@break_l: 820px;
@break_m: 640px;
@break_s: 400px;
