/* custom css */
/*
	Based on Simple Dark by Chris Reynolds (hello@chrisreynolds.io)
	https://gist.github.com/jazzsequence/5162736
	
	Based on Simple by Jason Schuller/Circa75
	https://github.com/circa75/dropplets/tree/master/templates/simple
*/


@import url(../style.css); /* call the parent css */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Source+Sans+Pro:400,400italic|Oswald&subset=latin,latin-ext);

/* Typography
***********************************************************************/

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	color: #404040;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', 'Garamond', 'Georgia', sans-serif ; 
    font-weight: 400;
	color: #303030;
	margin-bottom: 5px;
	max-width: 90%;
}
ul, ol {
    margin-left: 40px;
}

ul li {
    list-style: disc;
}

ol li {
    list-style: decimal;
}

p {
	margin: 0 0 20px;
}
.post p {
	max-width: 100%;
	font-size: 16px;
}

p + p {
	text-indent: 0;
}

h1 {
	font-size: 34px;
}

h2 {
	font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	margin: 0 0 20px;
}

a, .post p a {
	color: #000;
	border-bottom-color: #59acf3;
}

a img {
	border: none;
}
a:hover, a:active,
.post p a:hover, .post p a:active {
	color: #C5D2DD;
}

small {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}

code {
	color: #ff4a14;
    font-family: "Ubuntu Mono", Courier, monospace;
}

code, pre {
	font-size: 14px;
}

pre code {
	border: none;
	padding: 0;
	border-radius: 0;
	font-size: 12px;
}

pre {
	max-width: 80%;
	white-space: pre-wrap;
	padding: 15px;
	margin: 0 0 20px;
	border: 1px dashed #bf370f;
	border-radius: 7px
}

#disqus_thread {
	margin: 1em;
	padding-top: 0.5em;
	clear: both;
}

#dp-dropplets-icon {
  display: none;
}
/*article {
	border-bottom-color: #202020;
}*/

/*hr {
	border: 1px solid #202020;
	border-top: none;
}*/

/* Meta
***********************************************************************/

/* This is the logo at the top of every meta list */
.thumbnail {
	background-color: #404040;
	border-color: #202020;
	border: 1px solid #ebebeb;
    border-radius: 0%;
    width: 60px;
    height: 60px;
    padding: 5px;
    float: right;
    margin-right: -21px;
    -moz-transition-duration: 0.05s;
    -webkit-transition-duration: 0.05s;
}

.thumbnail img {
    border-radius: 0%;
    width: 100%;
    height: 100%;
}
.meta {
	color: #303030;
}
.meta a, .meta a:hover{
	color: #303030;
}
.meta ul {
	border: none;
}

/* This is the dot at the end of the meta list*/

/* Buttons 
***********************************************************************/
ul.actions {
	width: 100%;
	max-width: 100%;
}
ul.actions li {
	width: auto;
	margin-left: 5px;
    display: inline;
    float: left;
    margin-top: 3px;
    list-style: none;
}
ul.actions .button {
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ccc;
	border-radius: 3px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 300;
	color: #555;
	float: left;
	margin: 0 5px 10px 0;
	padding: 8px 20px 8px;
	white-space: nowrap;
	position: relative;
}
ul.actions .button:hover {
  color: #ff4a14;
  border-color: #ff4a14;
}
ul.actions .button:after{
	content: " ";
	display: block;
	width: 0;
	height: 0;
	/*box-shadow: 0px 0px 10px #000;*/
	border-top: 21px transparent solid;
	border-bottom: 20px transparent solid;
	border-left: 22px transparent solid;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 100%;
	z-index: 2;
}
ul.actions.button:hover:after{
  content: " ";
  display: block;
  width: 0;
  height: 0;
  /*box-shadow: 0px 0px 10px #000;*/
  border-top: 21px transparent solid;
  border-bottom: 20px transparent solid;
  border-left: 22px #ff4a14 solid;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 100%;
  z-index: 2;
  border-left-color: ;
}
article:not(.single) ul.actions li {
	float: right;
}
article.single ul.actions .button:after {
	border: none;
	display: none;
}

.button {
	border-radius: 0px;
}


/* Intro 
***********************************************************************/
header {
	background: #111; /* Old browsers */
	background-image: url("./dark_wood.png");
	color: #eee;
	text-shadow: 0px 0px 15px #000000;
}

header h1, 
header h2, 
header h3, 
header h4, 
header h5, 
header h6 {
    font-weight: 400;
	color: #ff4a14;
	margin-bottom: 5px;
	max-width: 90%;
}

header .meta {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    color: #b3b3b1;
    text-align: right;
}

header .meta ul {
    border: none;
    width: 100%;
    float: right;
    margin-right: 14px;
    position: relative;
}

header .meta ul li {
    list-style: none;
}

header .meta ul li span {
    color: #ebebeb;
}

header .meta ul li:first-child { 
    font-weight: 400;
}

header .meta a {
    color: #b3b3b1;
}

header .meta a:hover {
    color: #303030;
}

header .thumbnail {
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 0%;
    width: 60px;
    height: 60px;
    padding: 5px;
    float: right;
    margin-right: -21px;
}

header .post ul {
	margin-left: 0px;
}

header .post li {
	width: auto;
	margin-right: 5px;
	margin-top: 3px;
    display: inline;
    float: left;
    border: 1px solid #ebebeb;
    list-style: none;
	color: #ebebeb;
	font-size: 14px;
    line-height: 20px;
    border-radius: 0px;
    float: left;
    padding: 8px 15px 9px;
}

header .post a {
	color: #ebebeb;
}

header .post ul li:hover {
	border: 1px solid #777;
	color: #777;
}

/* Feature
***********************************************************************/

.feature {
	background: url("./squairy_light.png") #ffffff repeat;
}

.feature .post {
	background-color: #ffffff;
}

.feature .thumbnail {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0%;
    width: 60px;
    height: 60px;
    padding: 5px;
    float: right;
    margin-right: -21px;
    -moz-transition-duration: 0.05s;
    -webkit-transition-duration: 0.05s;
}

/* Aside
***********************************************************************/

article.aside {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    padding: 30px 0 0 0;
}

.aside .thumbnail{
	display: none;
}

.aside .meta ul li:last-child {
	display: none;
}

.aside h2 {
	display: none;
}

.aside .meta ul {
	border: none;
	width: 100%;
	float: right;
	margin-right: 14px;
	padding: 0px 0 0px;
	position: relative;
}

.aside .post-intro {
	float: left;
	clear: none;
}
.aside .actions {
	display: none;
	float: left;
	clear: none;
}
.aside .actions li {
	
}
@media (max-width: 480px) {
    
    /* Articles */
    .post ul.actions li {
        text-align: center;
        margin: 0;
        width: 100%;
        clear: both;
    }
    .post ul.actions .button {
        display: block;
        float: none;
        box-sizing: border-box;
    }
}
@media print {
  a[href]:after {
    content: " (" attr(href) ") ";
  }
}